<h1>Wods#all</h1>
- @wods.each do |wod|
  .wod
    - if wod.is_a?(GymWod)
      %a{ :href => gym_path(wod.gym) }= wod.gym.name
    - elsif wod.is_a?(UserWod)
      %a{ :href => user_path(wod.user) }= wod.user.username
    %div!= wod.workout
  %br
