.h1 New Wod

%div
  hey there
  %strong= @current_user.username
  to add your wod, just come up with a kickass title and enter your wod in plaintext below

%br

= render :partial => "wod_form", :locals => { :wod => @wod, :url => wods_path }
