$default_link_color: #00e;

body {
  font-family: arial;
}
a {
  color: $default_link_color;
}


.h1 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  .emph {
    display: inline;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
  }
}
.h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 6px 0px;
}


#header {
  border-bottom: 8px solid #000;
  margin-bottom: 30px;
  padding: 12px;
  #title {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    .sub {
      display: inline;
      font-size: 12px;
      font-style: italic;
      font-weight: normal;
      letter-spacing: 0px;
      text-transform: lowercase;
    }
  }
  #status {
    display: inline;
    float: right;
    font-size: 11px;
    #signin {
      display: inline;
    }
  }
  #nav {
    font-size: 12px;
    padding-top: 6px;
  }
}

#content {
}

#sider {
  text-align: center;
  .block {
    padding-bottom: 24px;
  }
  .signup {
    .text {
      font-size: 13px;
    }
    .link {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .contact {
    font-size: 13px;
  }
  .donate {
    font-size: 13px;
    div {
      padding-bottom: 4px;
    }
  }
}

#footer {
  border-top: 8px solid #000;
  margin-top: 30px;
  padding: 12px;
  text-align: center;
} 

#ranked-wods {
  .wod-wrapper {
    .rank {
      float:left;
      font-weight: bold;
      line-height: 22px;
      padding-left: 6px;
      padding-right: 2px;
    }
    .wod {
    }
  }
}

.wod {
  margin-bottom: 28px;
  overflow: hidden;
  .points {
    float: left;
    line-height: 22px;
    text-align: center;
    width: 30px;
    .upvote {
    }
    a {
      text-decoration: none;
    }
    .count {
      color: #f60;
      font-weight: bold;
    }
  }
  .content {
    margin-left: 30px;
    .header {
      font-size: 22px;
      font-weight: bold;
      a {
        text-decoration: none;
      }
      .sub {
        display: inline;
        font-size: 12px;
      }
      .link {
        font-size: 11px;
        font-weight: normal;
      }
      .link:hover {
        text-decoration: underline;
      }
      .saved {
        background: $default_link_color;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
      }
    } 
    .workout {
      a {
        color: #555;
      }
    }
  }
}

.gymusershow {
  .title {
    font-size: 22px;
    font-weight: bold;
    .link {
      font-size: 12px;
    }
  }
  .recent-wods {
    padding: 20px 0px;
    .text {
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
}

.comments {
  padding-bottom: 20px;
  .comment {
    padding-bottom: 6px;
    .info {
      font-size: 11px;
    }
  }
}

.delete {
  display: inline;
  .delete-form {
    display: inline;
    .delete-button {
      background: none;
      border: none;
      color: $default_link_color;
      cursor: pointer;
      margin: 0px;
      padding: 0px;
    }
  }
}

.heythere {
  font-style: italic;
  padding-bottom: 14px;
}

.notice {
  font-style: italic;
  padding: 16px 0px;
}
