body {
  font-family: arial;
}
a {
  color: #00e;
}

#header {
  border-bottom: 8px solid #000;
  margin-bottom: 30px;
  padding: 12px;
  #title {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  #status {
    display: inline;
    float: right;
    font-size: 11px;
    #signin {
      display: inline;
    }
  }
  #nav {
    font-size: 12px;
    padding-top: 6px;
  }
}

#ranked-wods {
  .wod-wrapper {
    .rank {
      float:left;
      font-weight: bold;
      line-height: 22px;
      padding-left: 6px;
      padding-right: 2px;
    }
    .wod {
    }
  }
}

.wod {
  margin-bottom: 28px;
  overflow: hidden;
  .points {
    float: left;
    line-height: 22px;
    text-align: center;
    width: 30px;
    .upvote {
    }
    a {
      text-decoration: none;
    }
    .count {
      color: #f60;
      font-weight: bold;
    }
  }
  .content {
    margin-left: 30px;
    .header {
      font-size: 22px;
      font-weight: bold;
      a {
        text-decoration: none;
      }
    } 
    .workout {
      a {
        color: #555;
      }
    }
  }
}
