.h1 Jobs / Update All

.gyms
  - @gyms.each do |gym|
    .gym.notupdated{ :id => gym.id }
      %span.name= gym.name
      %span ...
      %strong.status
%a#go_to_wods{ :href => wods_path, :style => "display: none;" } go to wods

:javascript
  var updateNextGym = function() {
    if(!$('.notupdated').length) {
      $('#go_to_wods').show();
      return false;
    }
    var current_gym = $('.notupdated').first();
    var status = current_gym.find('.status');
    status.text('checking...');
    $.post('/jobs/update/' + current_gym.attr('id'), function(data) {
      current_gym.removeClass('notupdated');
      if(data.updated) {
        status.text('updated');
      } else if(data.latest) {
        status.text('latest');
      } else {
        status.css('color', '#f00').text('error');
      }
      updateNextGym();
    }, 'json');
  };
  $(document).ready(function() {
    updateNextGym();
  });
