body {
  font-family: arial; }

a {
  color: #0000ee; }

.h1 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px; }
  .h1 .emph {
    display: inline;
    font-size: 13px;
    font-style: italic;
    font-weight: normal; }

.h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 6px 0px; }

#header {
  border-bottom: 8px solid #000;
  margin-bottom: 30px;
  padding: 12px; }
  #header #title {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase; }
    #header #title .sub {
      display: inline;
      font-size: 12px;
      font-style: italic;
      font-weight: normal;
      letter-spacing: 0px;
      text-transform: lowercase; }
  #header #status {
    display: inline;
    float: right;
    font-size: 11px; }
    #header #status #signin {
      display: inline; }
  #header #nav {
    font-size: 12px;
    padding-top: 6px; }

#sider {
  text-align: center; }
  #sider .block {
    padding-bottom: 24px; }
  #sider .signup .text {
    font-size: 13px; }
  #sider .signup .link {
    font-size: 30px;
    font-weight: bold; }
  #sider .contact {
    font-size: 13px; }
  #sider .donate {
    font-size: 13px; }
    #sider .donate div {
      padding-bottom: 4px; }

#footer {
  border-top: 8px solid #000;
  margin-top: 30px;
  padding: 12px;
  text-align: center; }

#ranked-wods .wod-wrapper .rank {
  float: left;
  font-weight: bold;
  line-height: 22px;
  padding-left: 6px;
  padding-right: 2px; }

.wod {
  margin-bottom: 28px;
  overflow: hidden; }
  .wod .points {
    float: left;
    line-height: 22px;
    text-align: center;
    width: 30px; }
    .wod .points a {
      text-decoration: none; }
    .wod .points .count {
      color: #f60;
      font-weight: bold; }
  .wod .content {
    margin-left: 30px; }
    .wod .content .header {
      font-size: 22px;
      font-weight: bold; }
      .wod .content .header a {
        text-decoration: none; }
      .wod .content .header .sub {
        display: inline;
        font-size: 12px; }
      .wod .content .header .link {
        font-size: 11px;
        font-weight: normal; }
      .wod .content .header .link:hover {
        text-decoration: underline; }
      .wod .content .header .saved {
        background: #0000ee;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase; }
    .wod .content .workout a {
      color: #555; }

.gymusershow .title {
  font-size: 22px;
  font-weight: bold; }
  .gymusershow .title .link {
    font-size: 12px; }
.gymusershow .recent-wods {
  padding: 20px 0px; }
  .gymusershow .recent-wods .text {
    font-weight: bold;
    padding-bottom: 10px; }

.comments {
  padding-bottom: 20px; }
  .comments .comment {
    padding-bottom: 6px; }
    .comments .comment .info {
      font-size: 11px; }

.delete {
  display: inline; }
  .delete .delete-form {
    display: inline; }
    .delete .delete-form .delete-button {
      background: none;
      border: none;
      color: #0000ee;
      cursor: pointer;
      margin: 0px;
      padding: 0px; }

.heythere {
  font-style: italic;
  padding-bottom: 14px; }

.notice {
  font-style: italic;
  padding: 16px 0px; }
