.h1 Donate

%div Users who donate $5 or more to Crossfit Wodder gain the ability to save any and all of the awesome wods listed on Wodder daily, in addition to helping keep Crossfit Wodder up and running.

%br

%div
  Already made a donation and think you shouldn't be seeing this page?
  %a{ :href => "mailto:crossfitwodder@gmail.com" } Email us and let us know
  :plain 
    - we'll work with you to get the situation resolved asap.
