.h1 Users

- @users.each do |user|
  - next if user.is_admin?
  %div
    = link_to user.username, user
    last posted a wod #{time_ago_in_words(user.wods.most_recent.created_at)} ago

- if @users.blank?
  %i no users yet! 
