.gymusershow.user
  .title
    = @user.username
    %span.link= link_to "all users", users_path
    %span.link= link_to "all wods", wods_path

  .recent-wods
    .text recent wods:
    - if @user.has_wods?
      - @user.wods.each do |wod|
        = render :partial => "shared/wod", :locals => { :wod => wod, :hide_header => true }
    - else
      %i no wods yet!
