#footer
  Crossfit Wodder 2010
  %div
    %i all wods, content, etc. are property of their respective crossfit affiliate, user, etc.
  %div
    %i this project is simply an attempt to bring the crossfit community together
