#ranked-wods
  - if wods.blank?
    %i no wods yet!
  - wods.each_with_index do |wod, index|
    .wod-wrapper
      .rank= (index + 1).to_s + "."
      = render :partial => "shared/wod", :locals => { :wod => wod }

