#sider
  .signup.block
    .text
      want to upvote your favorite wods to the top of the rankings? post your own wods? comments? recommend a new gym to add to the list?
    .link= link_to "signup!", signup_users_path
    %i it's free and easy!
  .contact.block
    Questions? Comments? Feedback?
    %div= link_to "crossfitwodder@gmail.com", "mailto:crossfitwodder@gmail.com"

  .donate.block
    %div Like Crossfit Wodder? Want to help us going and growing? Donate!
    %div= render "shared/paypal_form" 
    %div Crossfit Wodder shows wods posted within the last 24 hours. Users who donate $5 or more can save wods to be viewed any time.

  .block
    <iframe src="http://www.facebook.com/plugins/likebox.php?id=117019225013434&amp;width=200&amp;connections=0&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:427px;" allowTransparency="true"></iframe>

  - if params[:controller].eql?("wods") and %w(index gym user).include?(params[:action])
    #ads.block
      = render "shared/sider_ads"
    
