- form_tag signin_users_path do
  - if flash[:signin_notice].present?
    = flash[:signin_notice]
  %label
    email:
    %input{:type => 'text', :name => 'email'}
  %label
    password:
    %input{:type => 'password', :name => 'password'}
  %input{:type => 'submit', :value => 'signin'}
don't have an account?
= link_to 'signup', signup_users_path 
