- form_tag signin_users_path, :id => 'signin' do
  %label
    email:
    = text_field_tag "email"
  %label
    password:
    = password_field_tag "password"
  = submit_tag "signin"
don't have an account?
= link_to 'signup', signup_users_path
