.h1 Gyms

#gyms
  - @gyms.each do |g|
    .gym
      = link_to g.name, gym_path(g)
      %a.url{ :href => g.url, :target => "_blank" } [&#8599;]
      added
      - if g.created_at.present?
        %strong= "#{time_ago_in_words(g.created_at)} ago"
      - else
        %i on day one
