.h1 New Gym

Hey there
%strong= @current_user.username
know of a gym or Crossfit affiliate not on the list? Fill out and submit the form below - although we can't guarantee every gym will be added to the list, primarily due to technical reasons, we will do our best to add the gym as soon as possible.
